@import url('https://fonts.googleapis.com/css?family=Montserrat');
#typing  .container {
    display: flex;
    justify-content: left;
    align-items: center;
  }
#typing  .container p {
    font-size: 3rem;
    padding-right: 0.5rem;
    padding-top: 0.5rem;
    font-weight: bold;
    letter-spacing: 0.1rem;
    text-align: left;
    overflow: hidden;
    font: Montserrat;
  }
#typing  .container p span.typed-text {
    font-weight: normal;
    color: #e9b3df;
  }
#typing .container p span.cursor {
    display: inline-block;
    background-color: #ccc;
    margin-left: 0px;
    width: 3px;
    animation: blink 1s infinite;
  }
#typing .container p span.cursor.typing {
    animation: none;
  }
  @keyframes blink {
    0%  { background-color: #ccc; }
    49% { background-color: #ccc; }
    50% { background-color: transparent; }
    99% { background-color: transparent; }
    100%  { background-color: #ccc; }
  }